<div class="container-fluid">
    <h3 class="text-center fst-italic text-body">Heures d'ouverture</h3>
    {% for openingHour in openingHours %}
        <p class="text-center">
            {{ openingHour.day }} :
            {% if (openingHour.noonOpeningHour is null) and  (openingHour.noonClosingHour is null) and (openingHour.eveningOpeningHour is null) and  (openingHour.eveningClosingHour is null) %}
                Fermé
            {% endif %}
            {% if (openingHour.noonOpeningHour is not null) %}
                {{ openingHour.noonOpeningHour|date('H:i') }}H -
            {% endif %}
            {% if (openingHour.noonClosingHour is not null) %}
                {{ openingHour.noonClosingHour|date('H:i') }}H
            {% endif %}
            {% if (openingHour.eveningOpeningHour is not null) %}
                {{ openingHour.eveningOpeningHour|date('H:i') }}H -
            {% endif %}
            {% if (openingHour.eveningClosingHour is not null) %}
                {{ openingHour.eveningClosingHour|date('H:i') }}H
            {% endif %}
        </p>
    {% endfor %}
</div>
